assets/application-40b2de8873494334b9e72b4cbafdc259c1707c983656abfce0146e0dc4692c15.css linguist-vendored=true
assets/application-40b2de8873494334b9e72b4cbafdc259c1707c983656abfce0146e0dc4692c15.css.gz liguist-vendored=true
assets/stylesheets/_device-mockups.css.scss liguist-vendored=true
assets/stylesheets/_device-mockups.min.css.scss liguist-vendored=true
assets/stylesheets/_new-age.css.scss liguist-vendored=true
assets/stylesheets/_new-age.min.css.scss liguist-vendored=true
assets/stylesheets/application.css.scss liguist-vendored=true



assets/application-70885a5b25e5daf63d95666b4f3eff6116e4c77b04033d58e71234e50f5c6ebf.js liguist-vendored=true
assets/application-70885a5b25e5daf63d95666b4f3eff6116e4c77b04033d58e71234e50f5c6ebf.js.gz liguist-vendored=true
