<!DOCTYPE html>
<html lang="en">

<link href="css/new-age.min.css" rel="stylesheet">


 <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <h1>Providing Intellectual and Financial Capital to Our Business Partners</h1>
                            <a href="#about" class="btn btn-outline btn-xl page-scroll">About Us!</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                     <img src="https://s3.us-east-2.amazonaws.com/jamecap/maintree.png" class="img-responsive" alt="">
                                    
                                </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="about" class="about bg-primary text-center">
        <div class="container">
            <div id="about2" class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div id="opacity">
                                <h2 class="section-heading">About Us</p>
                                <p> JAME Capital is a multi-industry boutique private investment firm. With strategic controlling interest investments, we are dedicated to developing our partner companies to drive long term sustainable growth. If you are searching to maximize your potential as a business then we may be the right partner for you.</p>
                                <div class="badges"><a href="#team" class="btn btn-outline btn-xl page-scroll">The Team</a>
                           </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


<section id="life_with_jame" class="life_with_jame">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Life With JAME</h2>
                        <p class="text-muted">Itegrity Defines Us. Fairness Is How We Operate   </p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="device-container">
                        <div class="device-mockup macbook">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="https://s3.us-east-2.amazonaws.com/jamecap/treetrunk.jpg" class="img-responsive" alt=""> </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-screen-smartphone text-primary"></i>
                                    <h3>Longevity</h3>
                                    <p class="text-muted">To make a company great takes a long-term commitment, we are prepared to make a company great.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-camera text-primary"></i>
                                    <h3>Culture</h3>
                                    <p class="text-muted">We want to do business with people who are like us, passionate, innovative, humble, and driven to succeed. We will work hard with a disciplined systems focused approach to achieving excellence.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-present text-primary"></i>
                                    <h3>Customer Value</h3>
                                    <p class="text-muted">No matter the industry, all businesses must forever drive to improve customer value. It is what builds competitive advantage. We will relentlessly improve the value equation our partner companies provide their customers.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-lock-open text-primary"></i>
                                    <h3>Transformation</h3>
                                    <p class="text-muted">JAME is dedicated to the transformation of the businesses we partner with. We understand the most meaningful change is often the most disruptive, and therefore requires ongoing support to drive performance excellence.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



