<!DOCTYPE html>
<html lang="en">

<link href="css/new-age.min.css" rel="stylesheet">

<!--LANDING PAGE-->
 <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <h1>Providing Intellectual and Financial Capital to Our Business Partners</h1>
                            <a href="#about" class="btn btn-outline btn-xl page-scroll">About Us!</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                     <img src="https://s3.us-east-2.amazonaws.com/jamecap/maintree2.png" class="img-responsive" alt="">
                                    
                                </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

<!-- ABOUT SECTION -->
    <section id="about" class="about bg-primary text-center">
        <div class="container">
            <div id="about2" class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div id="opacity">
                                <h2 class="section-heading">About Us</h2>
                                <p> JAME Capital is a multi-industry boutique private investment firm. With strategic controlling interest investments, we are dedicated to developing our partner companies to drive long term sustainable growth. If you are searching to maximize your potential as a business then we may be the right partner for you.</p>
                                <div class="badges"><a href="#team" class="btn btn-outline btn-xl page-scroll">The Team</a>
                           </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


<!-- LIFE WITH JAME SECTION-->
<section id="life_with_jame" class="life_with_jame">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Life With JAME</h2>
                        <p class="text-muted">Itegrity Defines Us. Fairness Is How We Operate   </p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="device-container">
                        <div class="device-mockup macbook">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="https://s3.us-east-2.amazonaws.com/jamecap/treetrunk.jpg" class="img-responsive" alt=""> </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-screen-smartphone text-primary"></i>
                                    <h3>Longevity</h3>
                                    <p class="text-muted">To make a company great takes a long-term <strong>commitment</strong>, we are prepared to make a company great.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-camera text-primary"></i>
                                    <h3>Culture</h3>
                                    <p class="text-muted">We want to do business with people who are like us, passionate, innovative, humble, and driven to succeed. We will work hard with a disciplined systems focused approach to achieving <strong>excellence</strong>.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-present text-primary"></i>
                                    <h3>Customer Value</h3>
                                    <p class="text-muted">No matter the industry, all businesses must forever drive to improve customer value. It is what builds <strong>competitive advantage</strong>. We will relentlessly improve the value equation our partner companies provide their customers.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-lock-open text-primary"></i>
                                    <h3>Transformation</h3>
                                    <p class="text-muted">JAME is dedicated to the transformation of the businesses we partner with. We understand the most meaningful change is often the most <strong>disruptive</strong>, and therefore requires ongoing support to drive performance excellence.</p>
                                </div>
                            </div>
                             <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-lock-open text-primary"></i>
                                    <h3>Growth</h3>
                                    <p class="text-muted">We work with our partners to develop the right strategy for their business, focusing always on creating long term <strong>sustainable</strong> growth.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


<!--APROACH SECTION-->
     <section id="approach" class="about bg-primary text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">  
                    <div id="opacity">
                        <h2 class="section-heading">Our Approach</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
 <!-- THE 3 APPROACHES -->   
    <section>
        <div class="row">
            <div class="col-sm-4">
                <div class="feature-item">
                    <div class="text-center">
                        <i class="fa fa-puzzle-piece"></i>
                    </div>
                        <h3 class="text-center">What We Are Looking For</h3>
                        <p>
                            <ul class="text-muted">
                            <li>The <strong>Right</strong> Fit: Businesses that share our values, vision and determination to succeed.</li>
                            <li >Controlling interest in small to medium sized businesses.</li>
                            <li>Located in South Western Ontario.</li>
                            <li>Recurring EBITDA of 1-3M.</li>
                            </ul>
                        </p>
                        
                </div>
            </div>
            <div class="col-sm-4">
                <div class="feature-item">
                    <div class="text-center">
                        <i class="fa fa-handshake-o"></i>
                    </div>
                    <h3 class="text-center">Partnership</h3>
                    <p>
                        <ul class="text-muted">
                            <li>
                                We make investments built on the foundation of trust, loyalty and commitment. The development of strong relationships with our stakeholders is fundamental to an overall mutual success. Our partner companies will adopt our values and vision, becoming our guiding principles of how we operate.
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
             <div class="col-sm-4">
                <div class="feature-item">
                    <div class="text-center">
                        <i class="fa fa-group"></i>
                    </div>
                    <h3 class="text-center">Growth</h3>
                    <p>
                        <ul class="text-muted">
                            <li>
                                <strong>Passion</strong>: The driver for success.
                            </li>
                            <li>
                                <strong>Leadership</strong>: Maximizing the efforts of our teams to achieve a common goal.
                            </li>
                            <li>
                                <strong>Performance</strong>: Developing excellence in our people.
                            </li>
                            <li>
                                <strong>Execution</strong>: Both strategic and tactical.
                            </li>
                            <li>
                                <strong>Quantifiable Results</strong>: You can’t improve it if you don’t measure it.
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>

    </section>
    
  



