// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-nav > img {
	display: block;
	height: 55px;
	width: inherit;
	margin: auto;
}
